 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/vecteezy_hi-technology-line-circuit-board-design-background-with-dark_6430144.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1030px;
}

.u-section-1 .u-gallery-1 {
  height: 396px;
  width: 936px;
  margin: 56px 84px 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 22px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 22px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 22px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 22px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 22px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 22px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 22px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 22px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 22px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 22px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 22px;
}

.u-section-1 .u-carousel-item-12 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  padding: 22px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 107px 554px 0 97px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 107px 144px 60px 120px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-1 .u-gallery-1 {
    margin-right: 4px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 451px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 44px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-1 .u-gallery-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 231px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-1 .u-gallery-1 {
    height: 211px;
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 69px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 86px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/vecteezy_hi-technology-line-circuit-board-design-background-with-dark_6430144.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1633px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 67px auto 0 88px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1095px;
  margin: 88px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 15.3333px) calc(33.3333% - 15.3333px) calc(33.3333% - 15.3333px);
  grid-gap: 23px 23px;
  min-height: 1196px;
}

.u-section-2 .u-list-item-1 {
  background-position: 50% 50%;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/modelmakingtechniques-5.jpg");
}

.u-section-2 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-2 .u-text-2 {
  font-family: "Akaya Kanadaka";
  margin: 19px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 8px 1px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 31px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-2 .u-list-item-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/codingw.jpg");
}

.u-section-2 .u-container-layout-2 {
  padding: 13px 30px;
}

.u-section-2 .u-text-4 {
  font-family: "Akaya Kanadaka";
  font-weight: normal;
  margin: 19px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 8px 1px 0;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 31px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-2 .u-list-item-3 {
  background-position: 50% 50%;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/braindasher.jpg");
}

.u-section-2 .u-container-layout-3 {
  padding: 13px 30px;
}

.u-section-2 .u-text-6 {
  font-family: "Akaya Kanadaka";
  font-weight: normal;
  margin: 19px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 8px 1px 0;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 31px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-2 .u-list-item-4 {
  background-position: 50% 50%;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/isominia.jpg");
}

.u-section-2 .u-container-layout-4 {
  padding: 13px 30px;
}

.u-section-2 .u-text-8 {
  font-family: "Akaya Kanadaka";
  font-weight: normal;
  margin: 19px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 8px 1px 0;
}

.u-section-2 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 31px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-2 .u-list-item-5 {
  background-position: 50% 50%;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/tech-tra.jpg");
}

.u-section-2 .u-container-layout-5 {
  padding: 13px 30px;
}

.u-section-2 .u-text-10 {
  font-family: "Akaya Kanadaka";
  font-weight: normal;
  margin: 19px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 8px 1px 0;
}

.u-section-2 .u-btn-5 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 31px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-2 .u-list-item-6 {
  background-position: 50% 50%;
}

.u-section-2 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/pen-paper.jpg");
}

.u-section-2 .u-container-layout-6 {
  padding: 13px 30px;
}

.u-section-2 .u-text-12 {
  font-family: "Akaya Kanadaka";
  font-weight: normal;
  margin: 19px 0 0;
}

.u-section-2 .u-text-13 {
  margin: 8px 1px 0;
}

.u-section-2 .u-btn-6 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 31px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-2 .u-list-item-7 {
  background-position: 50% 50%;
}

.u-section-2 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/project.jpeg");
}

.u-section-2 .u-container-layout-7 {
  padding: 13px 30px;
}

.u-section-2 .u-text-14 {
  font-family: "Akaya Kanadaka";
  font-weight: normal;
  margin: 19px 0 0;
}

.u-section-2 .u-text-15 {
  margin: 8px 1px 0;
}

.u-section-2 .u-btn-7 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 31px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-2 .u-list-item-8 {
  background-position: 50% 50%;
}

.u-section-2 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/prototype.jpg");
}

.u-section-2 .u-container-layout-8 {
  padding: 13px 30px;
}

.u-section-2 .u-text-16 {
  font-family: "Akaya Kanadaka";
  font-weight: normal;
  margin: 19px 0 0;
}

.u-section-2 .u-text-17 {
  margin: 8px 1px 0;
}

.u-section-2 .u-btn-8 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 31px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-2 .u-list-item-9 {
  background-position: 50% 50%;
}

.u-section-2 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/23341202-02.jpeg");
}

.u-section-2 .u-container-layout-9 {
  padding: 13px 30px;
}

.u-section-2 .u-text-18 {
  font-family: "Akaya Kanadaka";
  font-weight: normal;
  margin: 19px 0 0;
}

.u-section-2 .u-text-19 {
  margin: 8px 1px 0;
}

.u-section-2 .u-btn-9 {
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 31px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-2 .u-text-20 {
  font-family: "Akaya Kanadaka";
  font-size: 3rem;
  margin: 88px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1347px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1027px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 15px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 15px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    border-style: none;
  }

  .u-section-2 .u-text-6 {
    margin-left: 15px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    border-style: none;
  }

  .u-section-2 .u-text-8 {
    margin-left: 15px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    border-style: none;
  }

  .u-section-2 .u-text-10 {
    margin-left: 15px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    border-style: none;
  }

  .u-section-2 .u-text-12 {
    margin-left: 15px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    border-style: none;
  }

  .u-section-2 .u-text-14 {
    margin-left: 15px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-7 {
    border-style: none;
  }

  .u-section-2 .u-text-16 {
    margin-left: 15px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-8 {
    border-style: none;
  }

  .u-section-2 .u-text-18 {
    margin-left: 15px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-9 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 11.5px) calc(50% - 11.5px);
    min-height: 1967px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3175px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 2685px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 24px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 24px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 24px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 24px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 24px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 24px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 24px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-16 {
    margin-top: 24px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 8px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 24px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-text-20 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 61px;
    margin-bottom: 23px;
  }
} .u-section-3 {
  min-height: 446px;
}

.u-section-3 .u-gallery-1 {
  height: 460px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 254px;
  }

  .u-section-3 .u-gallery-1 {
    height: 253px;
  }

  .u-section-3 .u-carousel-item-1 {
    margin-right: 0;
  }

  .u-section-3 .u-over-slide-1 {
    padding: 30px;
  }

  .u-section-3 .u-carousel-item-2 {
    margin-right: 0;
  }

  .u-section-3 .u-over-slide-2 {
    padding: 30px;
  }

  .u-section-3 .u-carousel-item-3 {
    margin-right: 0;
  }

  .u-section-3 .u-over-slide-3 {
    padding: 30px;
  }

  .u-section-3 .u-carousel-item-4 {
    margin-right: 0;
  }

  .u-section-3 .u-over-slide-4 {
    padding: 30px;
  }

  .u-section-3 .u-carousel-item-5 {
    margin-right: 0;
  }

  .u-section-3 .u-over-slide-5 {
    padding: 30px;
  }

  .u-section-3 .u-carousel-item-6 {
    margin-right: 0;
  }

  .u-section-3 .u-over-slide-6 {
    padding: 30px;
  }

  .u-section-3 .u-carousel-item-7 {
    margin-right: 0;
  }

  .u-section-3 .u-over-slide-7 {
    padding: 30px;
  }

  .u-section-3 .u-carousel-item-8 {
    margin-right: 0;
  }

  .u-section-3 .u-over-slide-8 {
    padding: 30px;
  }
}